body {
    min-width: 200px;
    max-width: 200px;
    height: 200px;
    background-color: #fff;
}

h2 {
    color: #494949;/*文字色*/
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    background: #f4f4f4;/*背景色*/
    border-left: solid 5px #2756d8;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
}

/* === ボタンを表示するエリア ============================== */
.sioriONOFF {
    position       : relative;            /* 親要素が基点       */
    margin         : auto;                /* 中央寄せ           */
    width          : 160px;               /* ボタンの横幅       */
    height         : 60px;                /* ボタンの高さ       */
  }
   
   /* === ラジオボタン ======================================== */
  .sioriONOFF input[type="radio"] {
    display        : none;            /* チェックボックス非表示 */
  }
   
   /* === ラジオボタンのラベル（標準） ======================== */
  .sioriONOFF label {
    display        : block;               /* ボックス要素に変更 */
    position       : absolute;            /* 親要素からの相対位置*/
    top            : 0;                   /* 標準表示位置(上)   */
    bottom         : 0;                   /* 標準表示位置(下)   */
    left           : 0;                   /* 標準表示位置(左)   */
    right          : 0;                   /* 標準表示位置(右)   */
    text-align     : center;              /* 文字位置は中央     */
    line-height    : 60px;                /* 1行の高さ(中央寄せ)*/
    font-size      : 18pt;                /* 文字サイズ         */
    font-weight    : bold;                /* 太字               */
    border         : 2px solid #ccc;      /* 枠線(一旦四方向)   */
  }
   
   /* === ON側のラジオボタンのラベル（標準） ================== */
  .sioriONOFF #sioriON + label {
    right          : 50%;                 /* 右端を中央に変更   */
    border-radius  : 6px 0 0 6px;         /* 角丸(左側の上下)   */
    background     : #eee;                /* 背景               */
    color          : #666;                /* 文字色             */
    border-right   : none;                /* 枠線の右側を消す   */
  }
   
   /* === ON側のラジオボタンのラベル（ONのとき） ============== */
  .sioriONOFF #sioriON:checked +label {
                                          /* 背景グラデーション */
    background     : linear-gradient(180deg, #00b359, #006633, #00b359);
    color          : #fff;                /* 文字色             */
    text-shadow    : 1px 1px 1px #333;    /* 文字に影を付ける   */
  }
   
   /* === OFF側のラジオボタンのラベル（標準） ================ */
  .sioriONOFF #sioriOFF + label {
    left           : 50%;                 /* 左端を中央に変更   */
    border-radius  : 0 6px 6px 0;         /* 角丸(右側の上下)   */
    background     : #eee;                /* 背景               */
    color          : #666;                /* 文字色             */
    border-left    : none;                /* 枠線の左側を消す   */
  }
   
   /* === OFF側のラジオボタンのラベル（OFFのとき） ============= */
  .sioriONOFF #sioriOFF:checked +label {
                                          /* 背景グラデーション */
    background     : linear-gradient(175deg, #ccc, #999, #ccc);
    color          : #fff;                /* 文字色             */
    text-shadow    : 1px 1px 1px #333;    /* 文字に影を付ける   */
  }